# ------------- app settings ------------- 
APP_NAME="My Project"
APP_DESCRIPTION="My Project Description"
APP_VERSION="0.1"
CONTACT_NAME="Me"
CONTACT_EMAIL="my.email@example.com"
LICENSE_NAME="MIT"

# ------------- database ------------- 
MYSQL_ROOT_PASSWORD="root1234"
MYSQL_USER="admin"
MYSQL_PASSWORD=1234
MYSQL_SERVER="localhost"
MYSQL_PORT=3306
MYSQL_DATABASE="fastapi"
MYSQL_ASYNC_PREFIX="mysql+aiomysql://"

# ------------- crypt -------------
SECRET_KEY=de2132a4a3a029d6a93a2aefcb519f0219990f92ca258a7c5ed938a444dbe1c8
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# ------------- admin -------------
ADMIN_NAME="admin"
ADMIN_EMAIL="admin@example.com"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="Str1ngst!"

# ------------- redis cache -------------
REDIS_CACHE_HOST="localhost"
REDIS_CACHE_PORT=6379

# ------------- redis queue -------------
REDIS_QUEUE_HOST="localhost"
REDIS_QUEUE_PORT=6379

# ------------- redis rate limit -------------
REDIS_RATE_LIMIT_HOST="localhost"
REDIS_RATE_LIMIT_PORT=6379

# ------------- client side cache -------------
CLIENT_CACHE_MAX_AGE=60

# ------------- test -------------
TEST_NAME="Tester User"
TEST_EMAIL="test@tester.com"
TEST_USERNAME="testeruser"
TEST_PASSWORD="Str1ng$t"

# ------------- environment -------------
ENVIRONMENT="local"

# ------------- first tier -------------
TIER_NAME="free"